.playerCardSpace {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

.playerCard {
    text-align: center;
    width: 20vw;
    min-height: 30vh;
    border: 1px solid black;
    margin: 2rem;
    padding: 0rem 2rem;
}

.playerCard h1 {
    margin-top: 0.2rem;
}

.toggle {
    background: #f68819;
    border-radius: 50px;
    height: 18px;
    left: 0;
    position: absolute;
    transition: 0.2s;
    width: 20px;
}

.toggled {
    left: 18px;
}

.dark-mode {
    color: #fff;
    background-color: #313843;
}

.navbar {
    background-color: #1f2022;
    align-items: center;
    border-bottom: 1px solid rgb(221, 221, 221);
    display: flex;
    height: 70px;
    padding: 0 3%;
    width: 100%;
    -webkit-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
}

.navbar p {
    color: white;
    margin: 0 0.5rem;
}

.dark-mode__toggle {
    background: papayawhip;
    border-radius: 50px;
    border: 1px solid black;
    height: 20px;
    position: relative;
    width: 40px;
}

.searchCount {
    text-align: center;
    white-space: nowrap;
    padding: 1rem;
    color: white;
    background-color: skyblue;
    border-radius: 2rem;
}